			<div id="wrapper">
					<header id="header">
						<span class="avatar"><img src="https://test-bucket-abhik.oss-ap-south-1.aliyuncs.com/abhik_banerjee.png" alt="ME" /></span>
						{{#if image}}
						<h1>This concludes the DEMO of Alibaba Cloud OSS and RAM User Key Access from GCP.</h1>
						{{else}}
						<h1>Keep Calm n' Cloud!</h1>
						{{/if}}
						
					</header>
					<section id="main">	
															
										
						{{#if buckets}}
						<h3><b>You see what's happening here? </b> SDK is being used with the Access Keys to authenticate and then to 
							get the Bucket Details. If bucket details are present, the below section is rendered.</h3>

						<br>
						<section class="align-left">
							Your Buckets:
							<ol>
								{{#each buckets}}
									<li>
										<ul>
											<li>Name: {{name}}</li>
											<li>Region: {{region}}</li>
											<li>Storage Class: {{StorageClass}}</li>
										</ul>
									</li>

								{{/each}}
							</ol>
						</section>
						<button><a href="/image">Get Image</a></button>
						{{/if}}

						{{#if image}}
						<h3><b>You see what's happening here? </b> SDK is being used with the Access Keys to authenticate and then to 
										get the image URL. The Image URL is passed in this template and gets rendered directly from OSS.
						</h3>
						<button><a href="/">Home</a></button> <br><br>
						<section class="thumbnails">
							{{#each image}}
							<a href="{{this.pic_url}}">
							<img src="{{this.thumbnail_url}}" alt="" />
							</a>
							{{/each}}
						</section>
						
						{{/if}}

					</section>
						
					<footer id="footer">
						<p>OSS Demo. For more awesome articles, go to <a href = "https://www.dconcloud.com/">DC on Cloud</a> </p>
					</footer>

			</div>

			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.poptrox.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/main.js"></script>
